.k20color1 {
  color: #920101;
}
.k20color2 {
  color: #ffd57b;
}

.bg-k20primary {
  background-color: #920101 !important;
}

.bg-k20secondary {
  background-color: #696969 !important;
}

.carousel .carousel-item {
  height: 75vh;
}

.carousel-item img {
  top: 0;
  left: 0;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .carousel .carousel-item {
    height: 50vh;
  }
}

.container-border {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

p {
  word-wrap: break-word;
}

.content-border {
  border-style: solid;
  border-color: #696969;
  border-width: 2px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  border-color: #696969;
  box-shadow: 0 0 0 0.2rem rgba(105, 105, 105, 0.25);
}

.btn-danger {
  color: #fff;
  background-color: #920101;
  border-color: #920101;
}
